execute(content) {
  post = validate(content) // throws ValidationError

  try {
    published = publish(post)
    if published == 1 { // 1: published
      return post.url
    } else { // not published
      return false
    }
  } catch SchedulerUnavailable { // network is not reliable
    return NULL
  }
}





