execute(content) {
  post = validate(content) // throws ValidationError

  try {
    published = publish_or_schedule(post)
    if published == 1 { // 1: published
      return post.url
    } else if published == 2 { // 2: scheduled
      return new UrlAndDate(post.url, date)
    } else {
      return false
    }
  } catch SchedulerUnavailable { // network is not reliable
    return NULL
  }
}





