#!/usr/bin/env bash

function validate() {
    if [ -z "${content}" ]; then
        echo "Some validation failed" >&2
        exit 1
    else
        echo "$(get_post ${content})"
        return 0
    fi
}

function publish() {
    shell_magic
    if [ $? -eq 0 ]; then
        echo "$(get_url ${post})"
        return 0
    else
        echo "Failed to publish" >&2
        exit 1
    fi
}

function post() {
    content=$1

    post="$(validate)"

    if [ $? -eq 0 ]; then
        local url
        url="$(publish)"

        if [ $? -eq 0 ]; then
            echo "Published: ${url}"
        fi
    fi
}

function get_post() {
    echo $1
}

function get_url() {
    echo "https://www.example.com/$1"
}

function shell_magic() {
    return 0
}

post "content"
