package main

import (
	"errors"
	"fmt"
)

type Post struct {
	Content string
	Url     string
}

func (p Post) Slug() string {
	return p.Content[0:5]
}

func valid(content string) (Post, error) {
	if content == "" {
		return Post{}, errors.New("content can't be empty")
	} else {
		return Post{content, ""}, nil
	}
}

func pub(p *Post) error {
	url := fmt.Sprintf("host/%s", p.Slug())

	if go_magic() {
		p.Url = url
		return nil
	} else {
		return errors.New("failed to publish")
	}
}

func main() {
	content := "content"

	p, err := valid(content)
	if err != nil {
		fmt.Println(err)
		return
	}

	err = pub(&p)
	if err != nil {
		fmt.Println(err)
		return
	}
	fmt.Printf("Published: %s", p.Url)
}

func go_magic() bool {
	return false
}






